---
layout: page
---
<h1>{{ page.shortTitle }}</h1>
<h2>{{ page.dateTime }}</h2>
<br />
<table width="100%">
  <tr>
    <td>
      <a href="#info">Information</a><br />
      <a href="#sites">Participating sites</a><br />
      <a href="#rules">Rules</a><br />
      <br />
      <a href="/">Back to main NCPC page</a><br />
    </td>
    <td style="text-align: center">
      <i>a part of</i><br />
        <img width="400px" alt="ICPC logo" src="/gfx/icpc-header.png" />
    </td>
  </tr>
</table>
{{ content }}
